<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>One morning, an ice cream seller named Vince and his friend, a dragon named Brungildo, went to their garage for the freezer boxes. But they couldn&apos;t get inside. Vince kept putting his key into the keyhole, but it would just fall out—as if somebody pushed it back. Vince peeked into the keyhole and was dumbfounded—inside the lock was a tiny blue person with a tail...
</string>
	<key>2</key>
	<string>Elfizz was an owner of a gloomy restaurant named Chest of Ghosts with the staff of eager-to-please ghosts. On the opposite side of the square was a bakery, Gingerbread Nook, run by a pretty plump Elfishki lady called Maggie. The two were at odds with each other until one day they had to work side by side...
</string>
	<key>3</key>
	<string>Enchanted Water was a very important ingredient for magical spells. That was why Elfizz and his friend, a hamster named Jolly Roger, went on a quest to find it. When they finally arrived in the Desert of Crazy Cactuses, they discovered a secret about the Enchanted Water that would change everything…</string>
	<key>4</key>
	<string>Magical people enjoyed the sea and often went to the beach. But once a year they put on their special costumes allowing them to be underwater, dove into the waves, and celebrated their famous Sea Carnival.
        
        Little Pickly and his friend Rinka enjoyed the Riddle Labyrinth and won the first prize, the Golden Seashell. But soon Pickly realized that while they were having fun, his older sister Ginger was in no mood for laughter.
</string>
	<key>5</key>
	<string>Ginger had extremely strong wings and often helped her parents, the mail carriers, to deliver packages.
        
        One day Mom asked her and her younger brother Pickly to deliver a very important package from the Underwater Town.
        Who could have known that Ginger and Pickly are carrying a living creature inside the parcel?</string>
	<key>6</key>
	<string>The little mermaid Rinka had always dreamed of becoming a circus performer, but most of the time her tricks did not work out so well. When school holidays began, her mother sent her to the old cat, Mr. Thomas, who agreed to look after Rinka while she swam in the city fountain. But it was so boring to swim all day long in the little pool, that one day Rinka decided to perform a circus act...
</string>
	<key>7</key>
	<string>Elfishki are little fairy tale creatures who live on the beautiful Rainbow Island in the middle of the Sparkling Sea. Some of them can fly like butterflies and some can swim like mermaids. They share the island with animals who can speak and trees who do not talk but understand everything. All in all, this is a place where miracles happen every day.
</string>
	<key>8</key>
	<string>text by Elle Vira
voiceover by Jason Damron and April Rose
programming be Andrei Vidrasco
art by Dmitri Gavrilov and Tamara Gerasun
produced by Pavel Mamaev
</string>
	<key>Error</key>
	<string>Error</string>
	<key>Purchase Stopped</key>
	<string>Purchase Stopped</string>
	<key>message1</key>
	<string>Either you cancelled the request or Apple reported a transaction error. Please try again later, or contact the app&apos;s customer support for assistance.</string>
	<key>message2</key>
	<string>Please try again later, or contact the app&apos;s customer support for assistance.</string>
</dict>
</plist>
