<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Однажды утром продавец мороженого Винс попытался войти в гараж, чтобы забрать оттуда холодильные ящики. Но он так и не смог открыть замóк, потому что в нем поселился крошечный синий человечек. Он заявил, что останется тут жить и ни за что не откроет дверь. Силой ничего нельзя было сделать — человечек оказался могущественным волшебником, и тогда на помощь Винсу пришла умная и добрая толстушка Мэгги…
</string>
	<key>2</key>
	<string>Элфизз, был хозяином ресторана «Сундук с привидениями», где официантами служили расторопные призраки. А напротив находилась розовая кондитерская «Пряничный домик», принадлежавшая толстушке Мэгги и ее помощнице — смешной каменной Гаргулье.
        
        Элфизз и Мэгги не ладили друг с другом, но в один прекрасный день им пришлось взяться за совместную работу...
</string>
	<key>3</key>
	<string>Живая Вода — очень нужная штука для магических заклинаний. Именно поэтому волшебник Элфизз и его друг, хомяк по имени Веселый Роджер, отправились на ее поиски. После многих приключений они нашли ее, но   оказалось, что Живая Вода — это совсем не то, что они думали…
</string>
	<key>4</key>
	<string>Волшебные человечки очень любили море и часто приходили на пляж, чтобы искупаться и позагорать. А раз в году они надевали специальные костюмы и отправлялись на Подводный Карнавал.
        
        Маленький Пикли и его подружка Ринка отлично провели время в Лабиринте Загадок и даже выиграли главный приз — золотую ракушку. Но пока они веселились, старшей сестре Пикли было совсем не до смеха — ведь она подумала, что ее брат потерялся…
</string>
	<key>5</key>
	<string>У Джинджер были сильные крылья и она часто помогала своим родителям разносить почту. Однажды мама поручила ей и ее младшему брату Пикли доставить важную посылку из Подводного Мира. Но по дороге дети поссорились и уронили посылку в реку. Кто же знал, что внутри нее окажется живое существо?
</string>
	<key>6</key>
	<string>Морская эльфишка Ринка мечтала стать цирковой артисткой, но ее фокусы не нравились ни родителям, ни учителям. На каникулы мама отправила ее в город к ученому коту Мистеру Томасу, который пообещал приглядывать за Ринкой, пока она плещется в фонтане. Поначалу ей было ужасно скучно плавать от бортика к бортику, но однажды она увидела девочек, которые прыгали через скакалку, и это навело ее на дельную мысль...
</string>
	<key>7</key>
	<string>Посреди Сверкающего моря есть удивительный Радужный остров, который действительно похож на радугу. Там живет волшебный народец, который называют «эльфишками». Некоторые из них умеют летать как бабочки, а некоторые плавают как русалки. А еще на Радужном острове водятся говорящие звери и молчаливые, но очень умные деревья. Одним словом, там всегда происходят чудеса.
</string>
	<key>8</key>
	<string>Текст – Эльвира Барякина
Читают – Владимир Солдатов и Ольга Салем
Программист – Андрей Видрашко
Художники – Дмитрий Гаврилов и Тамара Герасун
Продюсер – Павел Мамаев
</string>
</dict>
</plist>
